<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>

    <script src="js/jquery-latest.min.js"></script>
        <script src="js/slides.min.jquery.js"></script>
	<script src="js/slidesLoader.js"></script>


<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<title>Центр геомагнитных данных</title>
<meta name="keywords" content="Geophysical Center RAS, geomagnetism, observatories, stations, data, magnetic, field, Earth" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="http://geomag.gcras.ru/geomag.css" type="text/css" />
<link rel="stylesheet" href="http://geomag.gcras.ru/slides.css" type="text/css" />


<link rel="shortcut icon" type="image/gif" href="http://www.gcras.ru/gcicon.gif" />

<link rel="shortcut icon" type="image/x-icon" href="http://www.gcras.ru/favicon.ico" />

	<script src="http://geomag.gcras.ru/js/dynElements.js" type="text/javascript"></script>     

	<script src="http://geomag.gcras.ru/js/jquery-latest.min.js"></script>

	<script src="http://geomag.gcras.ru/js/stat.js" type="text/javascript"></script>


</head>
<body bgcolor="#64748B">


<table border="0" cellspacing="0" cellpadding="0" align="center"><tr align="center"><td align="center">


<!-- nav bar???? -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#26354A">
    <td width="45" nowrap="nowrap"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="45" height="1" border="0" /></td>
	<td height="70" width="100%" class="logo" nowrap="nowrap">Центр геомагнитных данных</span>&nbsp;&nbsp;<a href="http://www.gcras.ru/" title="Геофизический центр РАН" target="_blank"><img src="http://geomag.gcras.ru/img/gcraslogo-small3.png" width="54" height="49" align="absmiddle" border="0" /></a>&nbsp;<a href="http://www.intermagnet.org/" title="INTERMAGNET" target="_blank"><img src="http://geomag.gcras.ru/img/imag5.png" width="49" height="49" align="absmiddle" border="0" /></a></td>
        <td width="45" nowrap="nowrap"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="45" height="1" border="0" /></td>
    </tr>

    <tr bgcolor="#FF6600">
    <td colspan="3"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="4" border="0" /></td>
    </tr>

    <tr bgcolor="#D3DCE6">
    <td colspan="3"><img src=".http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
    </tr>

    <tr bgcolor="#FFCC00">
    <td width="15" nowrap="nowrap">&nbsp;</td>
    <td width="100%" height="24">

      <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
	<tr>
 
      
	    <td width="100%" height="24" align="right">&nbsp;</td>      
      
        </tr>
      </table> 
        
    </td>
    <td width="15" nowrap="nowrap">&nbsp;</td>

    </tr>

    <tr bgcolor="#D3DCE6">
    <td colspan="3"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
    </tr>

    <tr bgcolor="#FF6600">
    <td colspan="3"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="4" border="0" /></td>
    </tr>

    <tr bgcolor="#D3DCE6">
    <td colspan="3"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
    </tr>

    <tr bgcolor="#D3DCE6">
    <td width="15" valign="top">&nbsp;</td>

    <td width="100%" valign="top" align="center" ><br />
    &nbsp;<br />
    <table border="0" cellspacing="0" cellpadding="2" width="620">
	<tr>
	<td class="pageName">Моделирование электромагнитных параметров приполярной ионосферы</td>
	</tr>

	<tr>
	<td class="bodyText">

        <form name="form1" action="javascript:ionoRequest('div1', 'form1');">

	<p>Настоящий сервис позволяет моделировать следующие параметры приполярной ионосферы:</p>
	<ul>
	<li>Плотность продольных токов (FAC),</li>
	<li>Электростатический потенциал (Потенциал),</li>
	<li>Проводимость ионосферы (sigH).</li>
	</ul>	
	<p>Ниже необходимо указать входные параметры модели.</p>
	<p>Карты расчетных параметров строятся в координатах "местное магнитное время (MLT) - магнитная коширота". Верх изображения соответствует направлению на Солнце (12 MLT), справа - утренняя сторона, слева - вечерняя сторона, 
внизу - полуночная сторона. Центр изображения соответствует геомагнитному полюсу.</p>		
<p>
<strong>Параметр:</strong>&nbsp;
            <select id="type" name="type" class="bodyText">
             <option value="fac">FAC</option>
             <option value="pot">Потенциал</option>
             <option value="sigh">sigH</option>
            </select>
&nbsp;<strong>Полушарие:</strong>&nbsp;
            <select id="hem" name="hem" class="bodyText">
             <option value="n">Северное</option>
             <option value="s">Южное</option>
            </select>
	</p>
	    
	    <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
            	<table border="0" cellspacing="0" cellpadding="0">
		      
		      <tr><td class="bodyText">Bz, <em>нТл</em>:&nbsp;</td><td class="bodyText"><input type="text" name="bz"   value="1"   maxlength="3" size="3" class="detailText"/>&nbsp;(-12...12)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td class="bodyText">F107, <em>ед.</em>:&nbsp;</td><td class="bodyText"><input type="text" name="f107" value="100" maxlength="3" size="3" class="detailText"/>&nbsp;(50...350)</td></tr>
			
                      <tr><td class="bodyText">By, <em>нТл</em>:&nbsp;</td><td class="bodyText"><input type="text" name="by"   value="1"   maxlength="3" size="3" class="detailText"/>&nbsp;(-12...12)</td>
			<td class="bodyText">DOY, <em>дни</em>:&nbsp;</td><td class="bodyText"><input type="text" name="doy"   value="1"   maxlength="3" size="3" class="detailText"/>&nbsp;(1...356)</td></tr>
			
		      <tr><td class="bodyText">Kp, <em>ед.</em>:&nbsp;</td><td class="bodyText"><input type="text" name="kp"   value="1"   maxlength="3" size="3" class="detailText"/>&nbsp;(1...8)</td>
			<td class="bodyText">UT, <em>десятичные часы</em>:&nbsp;</td><td class="bodyText"><input type="text"   name="ut"   value="1"   maxlength="3" size="3" class="detailText"/>&nbsp;(0.0...23.9)</td></tr>					  
                      
                      
                      
                    </table>
                </td>
              </tr>
              <tr>
                <td class="bodyText">
            	</br>
		    <table border="0" width="100%" cellpadding="0" cellspacing="0">
            	    <tr>
                    	<td class="bodyText"><input type="radio" id="plot" value="plot" name="out" checked="checked" /></td>
                            <td class="bodyText"><label for="plot">Графический вывод&nbsp;<a href = "_" onclick="window.open(this.href, 'newwindow','width=630, height=700,left=300,location=no,resizable=no, scrollbars=yes, toolbar=no'); return false;" target = "_blank"><img src="http://geomag.gcras.ru/img/qm16.gif" width="16" height="16" border="0" /></a>&nbsp;&nbsp;Размер изображения (ширина x высота):&nbsp;</label>
                        			 <input type="text" name="img_w"  value="800" maxlength="4" size="4" class="detailText" onclick="javascript:document.getElementById('plot').checked = true;" />&nbsp;x
                                                 <input type="text" name="img_h" value="600" maxlength="4" size="4" class="detailText" onclick="javascript:document.getElementById('plot').checked = true;" /></td>
            	    </tr>
            	    <tr><td class="bodyText">
                            <input type="radio" id="ascii" value="ascii" name="out" /></td>
                            <td class="bodyText"><label for="ascii">ASCII-формат (CSV)</label>&nbsp;<a href = "_" onclick="window.open(this.href, 'newwindow','width=630, height=700,left=300,location=no,resizable=no, scrollbars=yes, toolbar=no'); return false;" target = "_blank"><img src="http://geomag.gcras.ru/img/qm16.gif" width="16" height="16" border="0" /></a></td>
                        </tr>
                    </table>
                </td>
              </tr>
	      <tr>
                <td align="center" height="14px"></td>
              </tr>
              <tr>
                  <td class="bodyText">
                    <input type="submit" class="detailText" value="Запуск" />
                </td>
              </tr>
            </table>
            <em>При нажатии кнопки &quot;Запуск&quot; Вы соглашаетесь с условиями использования данных, приведенными в разделе <a href="datapolicy.html" target="_blank">DATA POLICY</a>.</em>
	    <p><strong>Подробная информация изложена в</strong></br>
	    <em>Lukianova, R., and F. Christiansen</em> (2006), Modeling of the global distribution of ionospheric electric fields based on realistic maps of field-aligned currents, J. Geophys. Res., 111, A03213, <a href="http://doi.org/10.1029/2005JA011465" target="_blank">doi:10.1029/2005JA011465</a>.</p>
        </form>
        
        <br />

	    <div id="div1">

	    </div>


	</td>
	</tr>
    </table>
    
     <br />	
  
    &nbsp;<br />	</td>
    
    <td width="15">&nbsp;</td>
    </tr>

    <tr bgcolor="#D3DCE6">
    <td colspan="3"><img src="http://geomag.gcras.ru/img/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
    </tr>

    <tr>
    
<!--	<td width="50">&nbsp;</td>-->
    <td width="100%" colspan="3" align="left" class="copyrightText">
	<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
    	<td width="50%" class="copyrightText">
		&nbsp;<br />
        	ГЦ РАН&nbsp;&copy;&nbsp;2018<br />
		Геофизический центр Российской академии наук<br />&nbsp;
            </td><td width="50%" align="right" valign="middle">
        	<a href="http://www.ras.ru/" title="Российская академия наук" target="_blank"><img src="http://geomag.gcras.ru/img/raslogowhite3.png" height="34" width="88" border="0" /></a>
    	</td>
        </tr></table>
    </td>

    </tr>
</table>
</td></tr></table>     <!-- CLOSE CENTERED TABLE  -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22299172 = new Ya.Metrika({id:22299172,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22299172" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>